body {
	background-image: url("http://images6.alphacoders.com/404/404686.jpg");
    background-position: center; 
	}
h1 {
	color: #FFFFFF ;
	text-align: center;
}
p #new{
	text-align: center;
}
p {
	color: #FFFFFF;
	text-align: left;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
	color: #FFFFFF;
}
h6 { 
	color: #FFFFFF;
	text-allign: center;
}
h3 {
	color: #FFFFFF;
}
}
